Repository quibble-dev/Quibble, pull requests merged in 2024-11, with the labels that each got.

#16 feat(backend): init django project
  backend/backend/core/__init__.py
  backend/backend/core/asgi.py
  backend/backend/core/settings.py
  backend/backend/core/urls.py
  backend/backend/core/wsgi.py
  backend/backend/manage.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

#45 feat: homepage layout
  backend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/icons/card.svelte
  frontend/src/lib/components/icons/compact.svelte
  frontend/src/lib/components/icons/home.svelte
  frontend/src/lib/components/icons/hot.svelte
  frontend/src/lib/components/icons/new.svelte
  frontend/src/lib/components/icons/plus.svelte
  frontend/src/lib/components/icons/rocket.svelte
  frontend/src/lib/components/icons/search.svelte
  frontend/src/lib/components/icons/top.svelte
  frontend/src/lib/components/pages/home/post.svelte
  frontend/src/lib/components/pages/home/posts_header.svelte
  frontend/src/lib/components/pages/home/recent_posts.svelte
  frontend/src/lib/components/sidebar.svelte
  frontend/src/lib/components/ui/avatar.svelte
  frontend/src/lib/data/mock/posts.ts
  frontend/src/lib/data/mock/recent_posts.ts
  frontend/src/lib/data/mock/sidebar.ts
  frontend/src/lib/types/sidebar.ts
  frontend/src/lib/utils/classnames.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/tailwind.config.ts
Labels: frontend

#62 refactor: integrate namespace versioning
  backend/django_core/apps/user/api/__init__.py
  backend/django_core/apps/user/api/v1/__init__.py
  backend/django_core/apps/user/api/v1/serializers.py
  backend/django_core/apps/user/api/v1/urls.py
  backend/django_core/apps/user/api/v1/views.py
  backend/django_core/apps/user/api/v1/viewsets.py
  backend/django_core/core/settings.py
  backend/django_core/core/urls.py
  backend/tests/api/v1/__init__.py
  backend/tests/api/v1/user/__init__.py
  backend/tests/api/v1/user/test_auth.py
  backend/tests/api/v1/user/test_me.py
  backend/tests/api/v1/user/test_profiles.py
  backend/tests/api/v1/user/test_users.py
Labels: python

#65 feat: integrate backend auth
  backend/django_core/apps/user/api/v1/viewsets.py
  backend/django_core/core/settings.py
  frontend/.env.example
  frontend/src/hooks.server.ts
  frontend/src/lib/components/header.svelte
  frontend/src/lib/components/modals/auth/forms/login.svelte
  frontend/src/lib/components/modals/auth/forms/profile_create.svelte
  frontend/src/lib/components/modals/auth/forms/profile_select.svelte
  frontend/src/lib/components/modals/auth/index.svelte
  frontend/src/lib/components/ui/avatar.svelte
  frontend/src/lib/errors/auth.ts
  frontend/src/lib/services/.gitkeep
  frontend/src/lib/stores/auth.svelte.ts
  frontend/src/lib/types/shared.ts
  frontend/src/lib/types/user.ts
  frontend/src/lib/utils/api.ts
  frontend/src/routes/auth/+page.server.ts
  frontend/src/routes/settings/profile/+page.server.ts
Labels: enhancement, javascript, python
